In [5]:
import pandas as pd
import numpy as np

In [6]:
#Existem diferentes formas de se ter dados utilizando o pandas, uma dessas formas é com a utilização de dicionários e listas:
dados = {
    'Nome': ['Max', 'Bella', 'Rocky', 'Luna', 'Duke', 'Dasly', 'Milo', 'Zoe', 'Oliver', 'Chloe', 'Luna', 'Oliver', 'Milo'],
    'Raça': ['Labrador', 'Poodle', 'Boxer', 'Golden Retriever', 'Bulldog', 'Beagle', 'Shih Tzu', 'Dachshund', 'Husky', 'Rottweller', 'Golden Retriever', 'Beagle', 'Labrador'],
    'Cor': ['Amarelo', 'Branco', 'Marrom', 'Dourado', 'Tigrado', 'Tricolor', 'Cinza', 'Preto', 'Cinza', 'Preto', 'Dourado', 'Tricolor', 'Preto'],
    'Peso (kg)': [60, 35, 65, 55, 40, 33, 25, 28, 60, 63, 32, 18, 55],
    'Altura (cm)': [30, 7, 28, 25, 22, 10, 5, 6, 24, 45, 25, 12, 35],
    'Data de Nascimento': ['01/05/2018', '10/12/2019', '03/08/2017', '12/02/2016', '05/09/2020', '08/11/2015', '07/06/2018', '09/04/2019', '11/10/2017', '15/09/2016', '22/04/2020', '07/11/2015', '25/01/2014']
}

In [7]:
#Criando o dataframe
df_cachorros = pd.DataFrame(dados)
df_cachorros

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento
0,Max,Labrador,Amarelo,60,30,01/05/2018
1,Bella,Poodle,Branco,35,7,10/12/2019
2,Rocky,Boxer,Marrom,65,28,03/08/2017
3,Luna,Golden Retriever,Dourado,55,25,12/02/2016
4,Duke,Bulldog,Tigrado,40,22,05/09/2020
5,Dasly,Beagle,Tricolor,33,10,08/11/2015
6,Milo,Shih Tzu,Cinza,25,5,07/06/2018
7,Zoe,Dachshund,Preto,28,6,09/04/2019
8,Oliver,Husky,Cinza,60,24,11/10/2017
9,Chloe,Rottweller,Preto,63,45,15/09/2016
10,Luna,Golden Retriever,Dourado,32,25,22/04/2020
11,Oliver,Beagle,Tricolor,18,12,07/11/2015
12,Milo,Labrador,Preto,55,35,25/01/2014

In [8]:
#Lendo um arquivo e transformando em dataframe
# df_csv = pd.read_csv('arquivo.csv)
# df_excel = pd.read_excel('planilha.xlsx', sheet_name='nome_da_planilha)
# df_jason = pd.read_json('arquivo.json')
# df_parquet = pd.read_parquet('arquivo.parquet')
# from sqlalchemy import create_engine
# engine = create_engine('sqlite://banco_de_dados.bd')
# query = 'SELECT * FROM tabela'
# df_sql = pd.read_sql(query, engine)

Primeiros métodos para entender o dataframe

In [9]:
#visualizar os pontos iniciais de uma tabela: 
df_cachorros.head()

    Nome              Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0    Max          Labrador  Amarelo         60           30         01/05/2018
1  Bella            Poodle   Branco         35            7         10/12/2019
2  Rocky             Boxer   Marrom         65           28         03/08/2017
3   Luna  Golden Retriever  Dourado         55           25         12/02/2016
4   Duke           Bulldog  Tigrado         40           22         05/09/2020

In [10]:
# df.info informa as colunas das tabelas e há dado faltante
df_cachorros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nome                13 non-null     object
 1   Raça                13 non-null     object
 2   Cor                 13 non-null     object
 3   Peso (kg)           13 non-null     int64
 4   Altura (cm)         13 non-null     int64
 5   Data de Nascimento  13 non-null     object
dtypes: int64(2), object(4)
memory usage: 756.0+ bytes

In [11]:
# df.shape informa o tamanho
df_cachorros.shape

(13, 6)

In [12]:
#df.describe informa valores e calculos e estatisticas
df_cachorros.describe()

       Peso (kg)  Altura (cm)
count  13.000000    13.000000
mean   43.769231    21.076923
std    16.356211    12.325188
min    18.000000     5.000000
25%    32.000000    10.000000
50%    40.000000    24.000000
75%    60.000000    28.000000
max    65.000000    45.000000

Componentes de um dataframe

In [13]:
# As tabelas no pandas funcionam com três pilares:
# .values -> os valores (que são os próprios dados)
df_cachorros.values

array([['Max', 'Labrador', 'Amarelo', 60, 30, '01/05/2018'],
       ['Bella', 'Poodle', 'Branco', 35, 7, '10/12/2019'],
       ['Rocky', 'Boxer', 'Marrom', 65, 28, '03/08/2017'],
       ['Luna', 'Golden Retriever', 'Dourado', 55, 25, '12/02/2016'],
       ['Duke', 'Bulldog', 'Tigrado', 40, 22, '05/09/2020'],
       ['Dasly', 'Beagle', 'Tricolor', 33, 10, '08/11/2015'],
       ['Milo', 'Shih Tzu', 'Cinza', 25, 5, '07/06/2018'],
       ['Zoe', 'Dachshund', 'Preto', 28, 6, '09/04/2019'],
       ['Oliver', 'Husky', 'Cinza', 60, 24, '11/10/2017'],
       ['Chloe', 'Rottweller', 'Preto', 63, 45, '15/09/2016'],
       ['Luna', 'Golden Retriever', 'Dourado', 32, 25, '22/04/2020'],
       ['Oliver', 'Beagle', 'Tricolor', 18, 12, '07/11/2015'],
       ['Milo', 'Labrador', 'Preto', 55, 35, '25/01/2014']], dtype=object)

In [14]:
# .columns -> as etiquetas (labels) das colunas
df_cachorros.columns

Index(['Nome', 'Raça', 'Cor', 'Peso (kg)', 'Altura (cm)',
       'Data de Nascimento'],
      dtype='object')

In [15]:
# .index -> as etiquetas das linhas
df_cachorros.index

RangeIndex(start=0, stop=13, step=1)

Ordenação e subconjuntos

In [16]:
#ordenação -> ordena a tabela conforme o parâmetro passado. no caso abaixo, conforme a altura.
df_cachorros.sort_values('Altura (cm)')

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento
6,Milo,Shih Tzu,Cinza,25,5,07/06/2018
7,Zoe,Dachshund,Preto,28,6,09/04/2019
1,Bella,Poodle,Branco,35,7,10/12/2019
5,Dasly,Beagle,Tricolor,33,10,08/11/2015
11,Oliver,Beagle,Tricolor,18,12,07/11/2015
4,Duke,Bulldog,Tigrado,40,22,05/09/2020
8,Oliver,Husky,Cinza,60,24,11/10/2017
3,Luna,Golden Retriever,Dourado,55,25,12/02/2016
10,Luna,Golden Retriever,Dourado,32,25,22/04/2020
2,Rocky,Boxer,Marrom,65,28,03/08/2017
0,Max,Labrador,Amarelo,60,30,01/05/2018
12,Milo,Labrador,Preto,55,35,25/01/2014
9,Chloe,Rottweller,Preto,63,45,15/09/2016

In [17]:
#ordenação descresncente-> ordena a tabela conforme o parâmetro passado. no caso abaixo, conforme a altura.
df_cachorros.sort_values('Altura (cm)', ascending=False)

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento
9,Chloe,Rottweller,Preto,63,45,15/09/2016
12,Milo,Labrador,Preto,55,35,25/01/2014
0,Max,Labrador,Amarelo,60,30,01/05/2018
2,Rocky,Boxer,Marrom,65,28,03/08/2017
3,Luna,Golden Retriever,Dourado,55,25,12/02/2016
10,Luna,Golden Retriever,Dourado,32,25,22/04/2020
8,Oliver,Husky,Cinza,60,24,11/10/2017
4,Duke,Bulldog,Tigrado,40,22,05/09/2020
11,Oliver,Beagle,Tricolor,18,12,07/11/2015
5,Dasly,Beagle,Tricolor,33,10,08/11/2015
1,Bella,Poodle,Branco,35,7,10/12/2019
7,Zoe,Dachshund,Preto,28,6,09/04/2019
6,Milo,Shih Tzu,Cinza,25,5,07/06/2018

In [18]:
#ordenação por multiplas variáveis-> ordena a tabela conforme o parâmetro passado. no caso abaixo, 
#conforme a altura e peso. Neste caso, é primeiro o peso e depois a altura
df_cachorros.sort_values(['Altura (cm)', 'Peso (kg)'])

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento
6,Milo,Shih Tzu,Cinza,25,5,07/06/2018
7,Zoe,Dachshund,Preto,28,6,09/04/2019
1,Bella,Poodle,Branco,35,7,10/12/2019
5,Dasly,Beagle,Tricolor,33,10,08/11/2015
11,Oliver,Beagle,Tricolor,18,12,07/11/2015
4,Duke,Bulldog,Tigrado,40,22,05/09/2020
8,Oliver,Husky,Cinza,60,24,11/10/2017
10,Luna,Golden Retriever,Dourado,32,25,22/04/2020
3,Luna,Golden Retriever,Dourado,55,25,12/02/2016
2,Rocky,Boxer,Marrom,65,28,03/08/2017
0,Max,Labrador,Amarelo,60,30,01/05/2018
12,Milo,Labrador,Preto,55,35,25/01/2014
9,Chloe,Rottweller,Preto,63,45,15/09/2016

In [19]:
#ordenação por multiplas variáveis descresncete-> ordena a tabela conforme o parâmetro passado. no caso abaixo, 
#conforme a altura e peso. Neste caso, é primeiro o peso e depois a altura
df_cachorros.sort_values(['Altura (cm)', 'Peso (kg)'], ascending=False)

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento
9,Chloe,Rottweller,Preto,63,45,15/09/2016
12,Milo,Labrador,Preto,55,35,25/01/2014
0,Max,Labrador,Amarelo,60,30,01/05/2018
2,Rocky,Boxer,Marrom,65,28,03/08/2017
3,Luna,Golden Retriever,Dourado,55,25,12/02/2016
10,Luna,Golden Retriever,Dourado,32,25,22/04/2020
8,Oliver,Husky,Cinza,60,24,11/10/2017
4,Duke,Bulldog,Tigrado,40,22,05/09/2020
11,Oliver,Beagle,Tricolor,18,12,07/11/2015
5,Dasly,Beagle,Tricolor,33,10,08/11/2015
1,Bella,Poodle,Branco,35,7,10/12/2019
7,Zoe,Dachshund,Preto,28,6,09/04/2019
6,Milo,Shih Tzu,Cinza,25,5,07/06/2018

In [20]:
#ordenação por multiplas variáveis crescente e descrescente-> ordena a tabela conforme o parâmetro passado. no caso abaixo, 
#conforme a altura e peso. Neste caso, é primeiro o peso e depois a altura
#Neste caso, altura é crescente e peso é decrescente
df_cachorros.sort_values(['Altura (cm)', 'Peso (kg)'], ascending=[True, False])

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento
6,Milo,Shih Tzu,Cinza,25,5,07/06/2018
7,Zoe,Dachshund,Preto,28,6,09/04/2019
1,Bella,Poodle,Branco,35,7,10/12/2019
5,Dasly,Beagle,Tricolor,33,10,08/11/2015
11,Oliver,Beagle,Tricolor,18,12,07/11/2015
4,Duke,Bulldog,Tigrado,40,22,05/09/2020
8,Oliver,Husky,Cinza,60,24,11/10/2017
3,Luna,Golden Retriever,Dourado,55,25,12/02/2016
10,Luna,Golden Retriever,Dourado,32,25,22/04/2020
2,Rocky,Boxer,Marrom,65,28,03/08/2017
0,Max,Labrador,Amarelo,60,30,01/05/2018
12,Milo,Labrador,Preto,55,35,25/01/2014
9,Chloe,Rottweller,Preto,63,45,15/09/2016

Subconjuntos de colunas

In [21]:
#subconjunto de apenas uma coluna
df_cachorros['Nome']

0        Max
1      Bella
2      Rocky
3       Luna
4       Duke
5      Dasly
6       Milo
7        Zoe
8     Oliver
9      Chloe
10      Luna
11    Oliver
12      Milo
Name: Nome, dtype: object

In [22]:
#subconjunto de multiplas coluns
df_cachorros[['Nome', 'Altura (cm)']]

      Nome  Altura (cm)
0      Max           30
1    Bella            7
2    Rocky           28
3     Luna           25
4     Duke           22
5    Dasly           10
6     Milo            5
7      Zoe            6
8   Oliver           24
9    Chloe           45
10    Luna           25
11  Oliver           12
12    Milo           35

In [23]:
#Subconjuntos de uma única linha
df_cachorros['Altura (cm)'] > 25

0      True
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12     True
Name: Altura (cm), dtype: bool

In [24]:
#Uma condição lógica também pode ser aplicada para imprimir apenas os que são verdadeiros
df_cachorros[df_cachorros['Altura (cm)']> 25]

     Nome        Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0     Max    Labrador  Amarelo         60           30         01/05/2018
2   Rocky       Boxer   Marrom         65           28         03/08/2017
9   Chloe  Rottweller    Preto         63           45         15/09/2016
12   Milo    Labrador    Preto         55           35         25/01/2014

In [25]:
#Subconjunto com base em dado de texto
df_cachorros[df_cachorros['Raça'] == 'Boxer']

    Nome   Raça     Cor  Peso (kg)  Altura (cm) Data de Nascimento
2  Rocky  Boxer  Marrom         65           28         03/08/2017

In [26]:
df_cachorros[df_cachorros['Data de Nascimento'] < '12/05/2017']

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento
0,Max,Labrador,Amarelo,60,30,01/05/2018
1,Bella,Poodle,Branco,35,7,10/12/2019
2,Rocky,Boxer,Marrom,65,28,03/08/2017
3,Luna,Golden Retriever,Dourado,55,25,12/02/2016
4,Duke,Bulldog,Tigrado,40,22,05/09/2020
5,Dasly,Beagle,Tricolor,33,10,08/11/2015
6,Milo,Shih Tzu,Cinza,25,5,07/06/2018
7,Zoe,Dachshund,Preto,28,6,09/04/2019
8,Oliver,Husky,Cinza,60,24,11/10/2017
11,Oliver,Beagle,Tricolor,18,12,07/11/2015

In [27]:
#Subconjunto com base em múltiplas condições
is_labrador = df_cachorros['Raça'] == 'Labrador'
is_amarelo = df_cachorros['Cor'] == 'Amarelo'
df_cachorros [is_labrador&is_amarelo]

  Nome      Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0  Max  Labrador  Amarelo         60           30         01/05/2018

In [28]:
df_cachorros[(df_cachorros['Raça']=='Labrador') & (df_cachorros['Cor'] == 'Amarelo')]

  Nome      Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0  Max  Labrador  Amarelo         60           30         01/05/2018

In [29]:
#Subconjunto usando .isin() -> retorno aquilo que filtro
is_marrom_ou_branco = df_cachorros['Cor'].isin(['Marrom', 'Branco'])
df_cachorros[is_marrom_ou_branco]

    Nome    Raça     Cor  Peso (kg)  Altura (cm) Data de Nascimento
1  Bella  Poodle  Branco         35            7         10/12/2019
2  Rocky   Boxer  Marrom         65           28         03/08/2017

Adicionando uma nova coluna no dataframe

In [30]:
#Criar uma nova coluna é como se estivesse adicionando uma nova 'característica'
df_cachorros['Altura (m)'] = df_cachorros['Altura (cm)']/100
df_cachorros

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento,Altura (m)
0,Max,Labrador,Amarelo,60,30,01/05/2018,0.30
1,Bella,Poodle,Branco,35,7,10/12/2019,0.07
2,Rocky,Boxer,Marrom,65,28,03/08/2017,0.28
3,Luna,Golden Retriever,Dourado,55,25,12/02/2016,0.25
4,Duke,Bulldog,Tigrado,40,22,05/09/2020,0.22
5,Dasly,Beagle,Tricolor,33,10,08/11/2015,0.10
6,Milo,Shih Tzu,Cinza,25,5,07/06/2018,0.05
7,Zoe,Dachshund,Preto,28,6,09/04/2019,0.06
8,Oliver,Husky,Cinza,60,24,11/10/2017,0.24
9,Chloe,Rottweller,Preto,63,45,15/09/2016,0.45
10,Luna,Golden Retriever,Dourado,32,25,22/04/2020,0.25
11,Oliver,Beagle,Tricolor,18,12,07/11/2015,0.12
12,Milo,Labrador,Preto,55,35,25/01/2014,0.35

In [31]:
#Multiplas manipulações -> multiplos filtros
dog_pequeno = df_cachorros[df_cachorros['Altura (m)']<=0.5]
dog_pequeno = dog_pequeno.sort_values('Altura (cm)', ascending=False)
dog_pequeno[['Nome', 'Altura (cm)', 'Peso (kg)']]

      Nome  Altura (cm)  Peso (kg)
9    Chloe           45         63
12    Milo           35         55
0      Max           30         60
2    Rocky           28         65
3     Luna           25         55
10    Luna           25         32
8   Oliver           24         60
4     Duke           22         40
11  Oliver           12         18
5    Dasly           10         33
1    Bella            7         35
7      Zoe            6         28
6     Milo            5         25

Estatísticas resumidas:

.median() -> calcula a mediada

.mode() -> identifica os valores mais frequentes

.min() -> retorna o valor mínimo

.max() -> retorna o valor máximo

.var() -> calcula a variância, uma medida de dispersão dos dados

.std() -> calcula o desvio padrão, indicando a dispersão média dos dados em relação a média

.sum() -> soma todos os valores

.quantile() -> calcula um percentil específico do conjunto de dados

In [32]:
#.min() -> retorna o valor mínimo
df_cachorros['Altura (cm)'].min()

5

In [33]:
#.max() -> retorna o valor máximo
df_cachorros['Altura (cm)'].max()

45

In [34]:
df_cachorros['Nome'].max()

'Zoe'

Agregação, ou agg, permite calcular estatísticas personalizadas

In [35]:
def pct50(coluna):
    return coluna.quantile(0.50)

df_cachorros['Altura (cm)'].agg(pct50)

24.0

In [36]:
df_cachorros[['Altura (cm)', 'Peso (kg)']].agg(pct50)

Altura (cm)    24.0
Peso (kg)      40.0
dtype: float64

In [37]:
def max_min(coluna):
	return coluna.max(), coluna.min
df_cachorros[['Altura (cm)', 'Peso (kg)']].agg(max_min)

,Altura (cm),Peso (kg)
0,45,65
1,<bound method Series.min of 0 30\n1 7...,<bound method Series.min of 0 60\n1 35...

O pandas tem métodos para calcular estatísticas

In [38]:
df_cachorros['Peso (kg)']

0     60
1     35
2     65
3     55
4     40
5     33
6     25
7     28
8     60
9     63
10    32
11    18
12    55
Name: Peso (kg), dtype: int64

In [39]:
#soma cumulativa
df_cachorros['Peso (kg)'].cumsum()

0      60
1      95
2     160
3     215
4     255
5     288
6     313
7     341
8     401
9     464
10    496
11    514
12    569
Name: Peso (kg), dtype: int64

In [40]:
#min cumulativo
df_cachorros['Peso (kg)'].cummin()

0     60
1     35
2     35
3     35
4     35
5     33
6     25
7     25
8     25
9     25
10    25
11    18
12    18
Name: Peso (kg), dtype: int64

In [41]:
#max cumulativo
df_cachorros['Peso (kg)'].cummax()

0     60
1     60
2     65
3     65
4     65
5     65
6     65
7     65
8     65
9     65
10    65
11    65
12    65
Name: Peso (kg), dtype: int64

Lidando com valores duplicados

In [42]:
#drop_duplicates
df_cachorros.drop_duplicates(subset='Nome')

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento,Altura (m)
0,Max,Labrador,Amarelo,60,30,01/05/2018,0.30
1,Bella,Poodle,Branco,35,7,10/12/2019,0.07
2,Rocky,Boxer,Marrom,65,28,03/08/2017,0.28
3,Luna,Golden Retriever,Dourado,55,25,12/02/2016,0.25
4,Duke,Bulldog,Tigrado,40,22,05/09/2020,0.22
5,Dasly,Beagle,Tricolor,33,10,08/11/2015,0.10
6,Milo,Shih Tzu,Cinza,25,5,07/06/2018,0.05
7,Zoe,Dachshund,Preto,28,6,09/04/2019,0.06
8,Oliver,Husky,Cinza,60,24,11/10/2017,0.24
9,Chloe,Rottweller,Preto,63,45,15/09/2016,0.45

In [43]:
#com mais de um critério
df_cachorros.drop_duplicates(subset=['Nome', 'Raça'])

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento,Altura (m)
0,Max,Labrador,Amarelo,60,30,01/05/2018,0.30
1,Bella,Poodle,Branco,35,7,10/12/2019,0.07
2,Rocky,Boxer,Marrom,65,28,03/08/2017,0.28
3,Luna,Golden Retriever,Dourado,55,25,12/02/2016,0.25
4,Duke,Bulldog,Tigrado,40,22,05/09/2020,0.22
5,Dasly,Beagle,Tricolor,33,10,08/11/2015,0.10
6,Milo,Shih Tzu,Cinza,25,5,07/06/2018,0.05
7,Zoe,Dachshund,Preto,28,6,09/04/2019,0.06
8,Oliver,Husky,Cinza,60,24,11/10/2017,0.24
9,Chloe,Rottweller,Preto,63,45,15/09/2016,0.45
11,Oliver,Beagle,Tricolor,18,12,07/11/2015,0.12
12,Milo,Labrador,Preto,55,35,25/01/2014,0.35

In [44]:
#value_count() -> verifica as apariçoes de um registro
df_cachorros['Raça'].value_counts()

Raça
Labrador            2
Golden Retriever    2
Beagle              2
Poodle              1
Boxer               1
Bulldog             1
Shih Tzu            1
Dachshund           1
Husky               1
Rottweller          1
Name: count, dtype: int64

In [45]:
#ordenando
df_cachorros['Raça'].value_counts(sort=True)

Raça
Labrador            2
Golden Retriever    2
Beagle              2
Poodle              1
Boxer               1
Bulldog             1
Shih Tzu            1
Dachshund           1
Husky               1
Rottweller          1
Name: count, dtype: int64

In [46]:
#normalize -> retorna a proporção normalizada
df_cachorros['Raça'].value_counts(normalize=True)

Raça
Labrador            0.153846
Golden Retriever    0.153846
Beagle              0.153846
Poodle              0.076923
Boxer               0.076923
Bulldog             0.076923
Shih Tzu            0.076923
Dachshund           0.076923
Husky               0.076923
Rottweller          0.076923
Name: proportion, dtype: float64

Agrupando dados

In [47]:
#agrupando sem método de agrupamento
print(df_cachorros[df_cachorros['Cor'] == 'Amarelo']['Peso (kg)'].mean())
print(df_cachorros[df_cachorros['Cor'] == 'Branco']['Peso (kg)'].mean())
print(df_cachorros[df_cachorros['Cor'] == 'Marrom']['Peso (kg)'].mean())

60.0
35.0
65.0

In [48]:
#agrupando com método de agrupamento -> groupby
df_cachorros.groupby('Cor')['Peso (kg)'].mean()

Cor
Amarelo     60.000000
Branco      35.000000
Cinza       42.500000
Dourado     43.500000
Marrom      65.000000
Preto       48.666667
Tigrado     40.000000
Tricolor    25.500000
Name: Peso (kg), dtype: float64

In [49]:
#o aff pode ser usado para calcular os dados estatisticos
df_cachorros.groupby('Cor')['Peso (kg)'].agg([min, max, sum])

C:\Users\lpgn\AppData\Local\Temp\ipykernel_7280\2306086515.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df_cachorros.groupby('Cor')['Peso (kg)'].agg([min, max, sum])
C:\Users\lpgn\AppData\Local\Temp\ipykernel_7280\2306086515.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_cachorros.groupby('Cor')['Peso (kg)'].agg([min, max, sum])
C:\Users\lpgn\AppData\Local\Temp\ipykernel_7280\2306086515.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_cachorros.groupby('Cor')['Peso (kg)'].agg([min, max, sum])

          min  max  sum
Cor
Amarelo    60   60   60
Branco     35   35   35
Cinza      25   60   85
Dourado    32   55   87
Marrom     65   65   65
Preto      28   63  146
Tigrado    40   40   40
Tricolor   18   33   51

In [50]:
#groupby com múltiplas variáveis
df_cachorros.groupby(['Cor', 'Raça'])['Peso (kg)'].mean()

Cor       Raça
Amarelo   Labrador            60.0
Branco    Poodle              35.0
Cinza     Husky               60.0
          Shih Tzu            25.0
Dourado   Golden Retriever    43.5
Marrom    Boxer               65.0
Preto     Dachshund           28.0
          Labrador            55.0
          Rottweller          63.0
Tigrado   Bulldog             40.0
Tricolor  Beagle              25.5
Name: Peso (kg), dtype: float64

In [51]:
#groupby com múltiplas variáveis 
df_cachorros.groupby(['Cor', 'Raça'])[['Peso (kg)', 'Altura (cm)']].mean()

                           Peso (kg)  Altura (cm)
Cor      Raça
Amarelo  Labrador               60.0         30.0
Branco   Poodle                 35.0          7.0
Cinza    Husky                  60.0         24.0
         Shih Tzu               25.0          5.0
Dourado  Golden Retriever       43.5         25.0
Marrom   Boxer                  65.0         28.0
Preto    Dachshund              28.0          6.0
         Labrador               55.0         35.0
         Rottweller             63.0         45.0
Tigrado  Bulldog                40.0         22.0
Tricolor Beagle                 25.5         11.0

Tabelas pivot ou dinâmicas
São tabelas que calculam estatísticas resumidas agrupadas.

In [52]:
#sem pivot_table
df_cachorros.groupby('Cor')['Peso (kg)'].mean()

Cor
Amarelo     60.000000
Branco      35.000000
Cinza       42.500000
Dourado     43.500000
Marrom      65.000000
Preto       48.666667
Tigrado     40.000000
Tricolor    25.500000
Name: Peso (kg), dtype: float64

In [53]:
#usando pivot_table
df_cachorros.pivot_table(values='Peso (kg)', index='Cor')

          Peso (kg)
Cor
Amarelo   60.000000
Branco    35.000000
Cinza     42.500000
Dourado   43.500000
Marrom    65.000000
Preto     48.666667
Tigrado   40.000000
Tricolor  25.500000

In [54]:
#Usando aggfunc para ter uma estatística mais organizada
df_cachorros.pivot_table(values='Peso (kg)', index='Cor', aggfunc=np.median)

C:\Users\lpgn\AppData\Local\Temp\ipykernel_7280\3003611500.py:2: FutureWarning: The provided callable <function median at 0x0000015C3C2FFA60> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_cachorros.pivot_table(values='Peso (kg)', index='Cor', aggfunc=np.median)

          Peso (kg)
Cor
Amarelo        60.0
Branco         35.0
Cinza          42.5
Dourado        43.5
Marrom         65.0
Preto          55.0
Tigrado        40.0
Tricolor       25.5

In [55]:
#Usando aggfunc para múltiplas estatísticas
df_cachorros.pivot_table(values='Peso (kg)', index='Cor', aggfunc=[np.mean, np.median])

C:\Users\lpgn\AppData\Local\Temp\ipykernel_7280\3035076951.py:2: FutureWarning: The provided callable <function mean at 0x0000015C3C1D8540> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_cachorros.pivot_table(values='Peso (kg)', index='Cor', aggfunc=[np.mean, np.median])
C:\Users\lpgn\AppData\Local\Temp\ipykernel_7280\3035076951.py:2: FutureWarning: The provided callable <function median at 0x0000015C3C2FFA60> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_cachorros.pivot_table(values='Peso (kg)', index='Cor', aggfunc=[np.mean, np.median])

               mean    median
          Peso (kg) Peso (kg)
Cor
Amarelo   60.000000      60.0
Branco    35.000000      35.0
Cinza     42.500000      42.5
Dourado   43.500000      43.5
Marrom    65.000000      65.0
Preto     48.666667      55.0
Tigrado   40.000000      40.0
Tricolor  25.500000      25.5

In [56]:
#Agrupando várias variáveis
df_cachorros.groupby(['Cor', 'Raça'])['Peso (kg)'].mean()

Cor       Raça
Amarelo   Labrador            60.0
Branco    Poodle              35.0
Cinza     Husky               60.0
          Shih Tzu            25.0
Dourado   Golden Retriever    43.5
Marrom    Boxer               65.0
Preto     Dachshund           28.0
          Labrador            55.0
          Rottweller          63.0
Tigrado   Bulldog             40.0
Tricolor  Beagle              25.5
Name: Peso (kg), dtype: float64

In [57]:
df_cachorros.pivot_table(values='Peso (kg)', index='Cor', columns='Raça')

Raça,Beagle,Boxer,Bulldog,Dachshund,Golden Retriever,Husky,Labrador,Poodle,Rottweller,Shih Tzu
Cor,,,,,,,,,,
Amarelo,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN
Branco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN
Cinza,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,25.0
Dourado,NaN,NaN,NaN,NaN,43.5,NaN,NaN,NaN,NaN,NaN
Marrom,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Preto,NaN,NaN,NaN,28.0,NaN,NaN,55.0,NaN,63.0,NaN
Tigrado,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tricolor,25.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
#Susbtituir valores NaN -> fill_value
df_cachorros.pivot_table(values='Peso (kg)', index='Cor', columns='Raça', fill_value=0)

Raça,Beagle,Boxer,Bulldog,Dachshund,Golden Retriever,Husky,Labrador,Poodle,Rottweller,Shih Tzu
Cor,,,,,,,,,,
Amarelo,0.0,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0
Branco,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.0,0.0,0.0
Cinza,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,25.0
Dourado,0.0,0.0,0.0,0.0,43.5,0.0,0.0,0.0,0.0,0.0
Marrom,0.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Preto,0.0,0.0,0.0,28.0,0.0,0.0,55.0,0.0,63.0,0.0
Tigrado,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tricolor,25.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
#margins é uma possiblidade para criar uma média final dos valores. Dados faltantes são ignorados.
df_cachorros.pivot_table(values='Peso (kg)', index='Cor', columns='Raça', fill_value = 0, margins=True)

Raça,Beagle,Boxer,Bulldog,Dachshund,Golden Retriever,Husky,Labrador,Poodle,Rottweller,Shih Tzu,All
Cor,,,,,,,,,,,
Amarelo,0.0,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,60.000000
Branco,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.0,0.0,0.0,35.000000
Cinza,0.0,0.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0,25.0,42.500000
Dourado,0.0,0.0,0.0,0.0,43.5,0.0,0.0,0.0,0.0,0.0,43.500000
Marrom,0.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65.000000
Preto,0.0,0.0,0.0,28.0,0.0,0.0,55.0,0.0,63.0,0.0,48.666667
Tigrado,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.000000
Tricolor,25.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.500000
All,25.5,65.0,40.0,28.0,43.5,60.0,57.5,35.0,63.0,25.0,43.769231