In [60]:
import pandas as pd
import numpy as np

In [2]:
#Existem diferentes formas de se ter dados utilizando o pandas, uma dessas formas é com a utilização de dicionários e listas:
dados = {
    'Nome': ['Max', 'Bella', 'Rocky', 'Luna'],
    'Raça': ['Labrador', 'Poodle', 'Boxer', 'Golder Retriever'],
    'Cor': ['Amarelo', 'Branco', 'Marrom', 'Dourado'],
    'Peso (kg)': [60,35,35,55],
    'Altura (cm)': [30,7,28,25],
    'Data de Nascimento': ['01/05/2018', '10/12/2019', '03/08/2017', '12/02/2016']
}

In [3]:
#Criando o dataframe
df_cachorros = pd.DataFrame(dados)
df_cachorros

    Nome              Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0    Max          Labrador  Amarelo         60           30         01/05/2018
1  Bella            Poodle   Branco         35            7         10/12/2019
2  Rocky             Boxer   Marrom         35           28         03/08/2017
3   Luna  Golder Retriever  Dourado         55           25         12/02/2016

In [4]:
#Lendo um arquivo e transformando em dataframe
# df_csv = pd.read_csv('arquivo.csv)
# df_excel = pd.read_excel('planilha.xlsx', sheet_name='nome_da_planilha)
# df_jason = pd.read_json('arquivo.json')
# df_parquet = pd.read_parquet('arquivo.parquet')
# from sqlalchemy import create_engine
# engine = create_engine('sqlite://banco_de_dados.bd')
# query = 'SELECT * FROM tabela'
# df_sql = pd.read_sql(query, engine)

Primeiros métodos para entender o dataframe

In [5]:
#visualizar os pontos iniciais de uma tabela: 
df_cachorros.head()

    Nome              Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0    Max          Labrador  Amarelo         60           30         01/05/2018
1  Bella            Poodle   Branco         35            7         10/12/2019
2  Rocky             Boxer   Marrom         35           28         03/08/2017
3   Luna  Golder Retriever  Dourado         55           25         12/02/2016

In [6]:
# df.info informa as colunas das tabelas e há dado faltante
df_cachorros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nome                4 non-null      object
 1   Raça                4 non-null      object
 2   Cor                 4 non-null      object
 3   Peso (kg)           4 non-null      int64
 4   Altura (cm)         4 non-null      int64
 5   Data de Nascimento  4 non-null      object
dtypes: int64(2), object(4)
memory usage: 324.0+ bytes

In [7]:
# df.shape informa o tamanho
df_cachorros.shape

(4, 6)

In [8]:
#df.describe informa valores e calculos e estatisticas
df_cachorros.describe()

       Peso (kg)  Altura (cm)
count   4.000000     4.000000
mean   46.250000    22.500000
std    13.149778    10.535654
min    35.000000     7.000000
25%    35.000000    20.500000
50%    45.000000    26.500000
75%    56.250000    28.500000
max    60.000000    30.000000

Componentes de um dataframe

In [9]:
# As tabelas no pandas funcionam com três pilares:
# .values -> os valores (que são os próprios dados)
df_cachorros.values

array([['Max', 'Labrador', 'Amarelo', 60, 30, '01/05/2018'],
       ['Bella', 'Poodle', 'Branco', 35, 7, '10/12/2019'],
       ['Rocky', 'Boxer', 'Marrom', 35, 28, '03/08/2017'],
       ['Luna', 'Golder Retriever', 'Dourado', 55, 25, '12/02/2016']],
      dtype=object)

In [10]:
# .columns -> as etiquetas (labels) das colunas
df_cachorros.columns

Index(['Nome', 'Raça', 'Cor', 'Peso (kg)', 'Altura (cm)',
       'Data de Nascimento'],
      dtype='object')

In [11]:
# .index -> as etiquetas das linhas
df_cachorros.index

RangeIndex(start=0, stop=4, step=1)

Ordenação e subconjuntos

In [12]:
#ordenação -> ordena a tabela conforme o parâmetro passado. no caso abaixo, conforme a altura.
df_cachorros.sort_values('Altura (cm)')

    Nome              Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
1  Bella            Poodle   Branco         35            7         10/12/2019
3   Luna  Golder Retriever  Dourado         55           25         12/02/2016
2  Rocky             Boxer   Marrom         35           28         03/08/2017
0    Max          Labrador  Amarelo         60           30         01/05/2018

In [13]:
#ordenação descresncente-> ordena a tabela conforme o parâmetro passado. no caso abaixo, conforme a altura.
df_cachorros.sort_values('Altura (cm)', ascending=False)

    Nome              Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0    Max          Labrador  Amarelo         60           30         01/05/2018
2  Rocky             Boxer   Marrom         35           28         03/08/2017
3   Luna  Golder Retriever  Dourado         55           25         12/02/2016
1  Bella            Poodle   Branco         35            7         10/12/2019

In [14]:
#ordenação por multiplas variáveis-> ordena a tabela conforme o parâmetro passado. no caso abaixo, 
#conforme a altura e peso. Neste caso, é primeiro o peso e depois a altura
df_cachorros.sort_values(['Altura (cm)', 'Peso (kg)'])

    Nome              Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
1  Bella            Poodle   Branco         35            7         10/12/2019
3   Luna  Golder Retriever  Dourado         55           25         12/02/2016
2  Rocky             Boxer   Marrom         35           28         03/08/2017
0    Max          Labrador  Amarelo         60           30         01/05/2018

In [15]:
#ordenação por multiplas variáveis descresncete-> ordena a tabela conforme o parâmetro passado. no caso abaixo, 
#conforme a altura e peso. Neste caso, é primeiro o peso e depois a altura
df_cachorros.sort_values(['Altura (cm)', 'Peso (kg)'], ascending=False)

    Nome              Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0    Max          Labrador  Amarelo         60           30         01/05/2018
2  Rocky             Boxer   Marrom         35           28         03/08/2017
3   Luna  Golder Retriever  Dourado         55           25         12/02/2016
1  Bella            Poodle   Branco         35            7         10/12/2019

In [16]:
#ordenação por multiplas variáveis crescente e descrescente-> ordena a tabela conforme o parâmetro passado. no caso abaixo, 
#conforme a altura e peso. Neste caso, é primeiro o peso e depois a altura
#Neste caso, altura é crescente e peso é decrescente
df_cachorros.sort_values(['Altura (cm)', 'Peso (kg)'], ascending=[True, False])

    Nome              Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
1  Bella            Poodle   Branco         35            7         10/12/2019
3   Luna  Golder Retriever  Dourado         55           25         12/02/2016
2  Rocky             Boxer   Marrom         35           28         03/08/2017
0    Max          Labrador  Amarelo         60           30         01/05/2018

Subconjuntos de colunas

In [17]:
#subconjunto de apenas uma coluna
df_cachorros['Nome']

0      Max
1    Bella
2    Rocky
3     Luna
Name: Nome, dtype: object

In [18]:
#subconjunto de multiplas coluns
df_cachorros[['Nome', 'Altura (cm)']]

    Nome  Altura (cm)
0    Max           30
1  Bella            7
2  Rocky           28
3   Luna           25

In [19]:
#Subconjuntos de uma única linha
df_cachorros['Altura (cm)'] > 25

0     True
1    False
2     True
3    False
Name: Altura (cm), dtype: bool

In [20]:
#Uma condição lógica também pode ser aplicada para imprimir apenas os que são verdadeiros
df_cachorros[df_cachorros['Altura (cm)']> 25]

    Nome      Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0    Max  Labrador  Amarelo         60           30         01/05/2018
2  Rocky     Boxer   Marrom         35           28         03/08/2017

In [21]:
#Subconjunto com base em dado de texto
df_cachorros[df_cachorros['Raça'] == 'Boxer']

    Nome   Raça     Cor  Peso (kg)  Altura (cm) Data de Nascimento
2  Rocky  Boxer  Marrom         35           28         03/08/2017

In [22]:
df_cachorros[df_cachorros['Data de Nascimento'] < '12/05/2017']

    Nome              Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0    Max          Labrador  Amarelo         60           30         01/05/2018
1  Bella            Poodle   Branco         35            7         10/12/2019
2  Rocky             Boxer   Marrom         35           28         03/08/2017
3   Luna  Golder Retriever  Dourado         55           25         12/02/2016

In [23]:
#Subconjunto com base em múltiplas condições
is_labrador = df_cachorros['Raça'] == 'Labrador'
is_amarelo = df_cachorros['Cor'] == 'Amarelo'
df_cachorros [is_labrador&is_amarelo]

  Nome      Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0  Max  Labrador  Amarelo         60           30         01/05/2018

In [24]:
df_cachorros[(df_cachorros['Raça']=='Labrador') & (df_cachorros['Cor'] == 'Amarelo')]

  Nome      Raça      Cor  Peso (kg)  Altura (cm) Data de Nascimento
0  Max  Labrador  Amarelo         60           30         01/05/2018

In [25]:
#Subconjunto usando .isin() -> retorno aquilo que filtro
is_marrom_ou_branco = df_cachorros['Cor'].isin(['Marrom', 'Branco'])
df_cachorros[is_marrom_ou_branco]

    Nome    Raça     Cor  Peso (kg)  Altura (cm) Data de Nascimento
1  Bella  Poodle  Branco         35            7         10/12/2019
2  Rocky   Boxer  Marrom         35           28         03/08/2017

Adicionando uma nova coluna no dataframe

In [26]:
#Criar uma nova coluna é como se estivesse adicionando uma nova 'característica'
df_cachorros['Altura (m)'] = df_cachorros['Altura (cm)']/100
df_cachorros

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento,Altura (m)
0,Max,Labrador,Amarelo,60,30,01/05/2018,0.30
1,Bella,Poodle,Branco,35,7,10/12/2019,0.07
2,Rocky,Boxer,Marrom,35,28,03/08/2017,0.28
3,Luna,Golder Retriever,Dourado,55,25,12/02/2016,0.25

In [27]:
#Multiplas manipulações -> multiplos filtros
dog_pequeno = df_cachorros[df_cachorros['Altura (m)']<=0.5]
dog_pequeno = dog_pequeno.sort_values('Altura (cm)', ascending=False)
dog_pequeno[['Nome', 'Altura (cm)', 'Peso (kg)']]

    Nome  Altura (cm)  Peso (kg)
0    Max           30         60
2  Rocky           28         35
3   Luna           25         55
1  Bella            7         35

Estatísticas resumidas:

.median() -> calcula a mediada

.mode() -> identifica os valores mais frequentes

.min() -> retorna o valor mínimo

.max() -> retorna o valor máximo

.var() -> calcula a variância, uma medida de dispersão dos dados

.std() -> calcula o desvio padrão, indicando a dispersão média dos dados em relação a média

.sum() -> soma todos os valores

.quantile() -> calcula um percentil específico do conjunto de dados

In [29]:
#.min() -> retorna o valor mínimo
df_cachorros['Altura (cm)'].min()

7

In [30]:
#.max() -> retorna o valor máximo
df_cachorros['Altura (cm)'].max()

30

In [31]:
df_cachorros['Nome'].max()

'Rocky'

Agregação, ou agg, permite calcular estatísticas personalizadas

In [36]:
def pct50(coluna):
    return coluna.quantile(0.50)

df_cachorros['Altura (cm)'].agg(pct50)

26.5

In [35]:
df_cachorros[['Altura (cm)', 'Peso (kg)']].agg(pct50)

Altura (cm)    26.5
Peso (kg)      45.0
dtype: float64

In [37]:
def max_min(coluna):
	return coluna.max(), coluna.min
df_cachorros[['Altura (cm)', 'Peso (kg)']].agg(max_min)

,Altura (cm),Peso (kg)
0,30,60
1,<bound method Series.min of 0 30\n1 7\n...,<bound method Series.min of 0 60\n1 35\n...

O pandas tem métodos para calcular estatísticas

In [38]:
df_cachorros['Peso (kg)']

0    60
1    35
2    35
3    55
Name: Peso (kg), dtype: int64

In [39]:
#soma cumulativa
df_cachorros['Peso (kg)'].cumsum()

0     60
1     95
2    130
3    185
Name: Peso (kg), dtype: int64

In [40]:
#min cumulativo
df_cachorros['Peso (kg)'].cummin()

0    60
1    35
2    35
3    35
Name: Peso (kg), dtype: int64

In [41]:
#max cumulativo
df_cachorros['Peso (kg)'].cummax()

0    60
1    60
2    60
3    60
Name: Peso (kg), dtype: int64

Lidando com valores duplicados

In [42]:
#drop_duplicates
df_cachorros.drop_duplicates(subset='Nome')

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento,Altura (m)
0,Max,Labrador,Amarelo,60,30,01/05/2018,0.30
1,Bella,Poodle,Branco,35,7,10/12/2019,0.07
2,Rocky,Boxer,Marrom,35,28,03/08/2017,0.28
3,Luna,Golder Retriever,Dourado,55,25,12/02/2016,0.25

In [43]:
#com mais de um critério
df_cachorros.drop_duplicates(subset=['Nome', 'Raça'])

,Nome,Raça,Cor,Peso (kg),Altura (cm),Data de Nascimento,Altura (m)
0,Max,Labrador,Amarelo,60,30,01/05/2018,0.30
1,Bella,Poodle,Branco,35,7,10/12/2019,0.07
2,Rocky,Boxer,Marrom,35,28,03/08/2017,0.28
3,Luna,Golder Retriever,Dourado,55,25,12/02/2016,0.25

In [46]:
#value_count() -> verifica as apariçoes de um registro
df_cachorros['Raça'].value_counts()

Raça
Labrador            1
Poodle              1
Boxer               1
Golder Retriever    1
Name: count, dtype: int64

In [48]:
#ordenando
df_cachorros['Raça'].value_counts(sort=True)

Raça
Labrador            1
Poodle              1
Boxer               1
Golder Retriever    1
Name: count, dtype: int64

In [49]:
#normalize -> retorna a proporção normalizada
df_cachorros['Raça'].value_counts(normalize=True)

Raça
Labrador            0.25
Poodle              0.25
Boxer               0.25
Golder Retriever    0.25
Name: proportion, dtype: float64

Agrupando dados

In [50]:
#agrupando sem método de agrupamento
print(df_cachorros[df_cachorros['Cor'] == 'Amarelo']['Peso (kg)'].mean())
print(df_cachorros[df_cachorros['Cor'] == 'Branco']['Peso (kg)'].mean())
print(df_cachorros[df_cachorros['Cor'] == 'Marrom']['Peso (kg)'].mean())

60.0
35.0
35.0

In [51]:
#agrupando com método de agrupamento -> groupby
df_cachorros.groupby('Cor')['Peso (kg)'].mean()

Cor
Amarelo    60.0
Branco     35.0
Dourado    55.0
Marrom     35.0
Name: Peso (kg), dtype: float64

In [52]:
#o aff pode ser usado para calcular os dados estatisticos
df_cachorros.groupby('Cor')['Peso (kg)'].agg([min, max, sum])

C:\Users\lpgn\AppData\Local\Temp\ipykernel_11156\2306086515.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df_cachorros.groupby('Cor')['Peso (kg)'].agg([min, max, sum])
C:\Users\lpgn\AppData\Local\Temp\ipykernel_11156\2306086515.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_cachorros.groupby('Cor')['Peso (kg)'].agg([min, max, sum])
C:\Users\lpgn\AppData\Local\Temp\ipykernel_11156\2306086515.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_cachorros.groupby('Cor')['Peso (kg)'].agg([min, max, sum])

         min  max  sum
Cor
Amarelo   60   60   60
Branco    35   35   35
Dourado   55   55   55
Marrom    35   35   35

In [53]:
#groupby com múltiplas variáveis
df_cachorros.groupby(['Cor', 'Raça'])['Peso (kg)'].mean()

Cor      Raça
Amarelo  Labrador            60.0
Branco   Poodle              35.0
Dourado  Golder Retriever    55.0
Marrom   Boxer               35.0
Name: Peso (kg), dtype: float64

In [56]:
#groupby com múltiplas variáveis 
df_cachorros.groupby(['Cor', 'Raça'])[['Peso (kg)', 'Altura (cm)']].mean()

                          Peso (kg)  Altura (cm)
Cor     Raça
Amarelo Labrador               60.0         30.0
Branco  Poodle                 35.0          7.0
Dourado Golder Retriever       55.0         25.0
Marrom  Boxer                  35.0         28.0

Tabelas pivot ou dinâmicas
São tabelas que calculam estatísticas resumidas agrupadas.

In [57]:
#sem pivot_table
df_cachorros.groupby('Cor')['Peso (kg)'].mean()

Cor
Amarelo    60.0
Branco     35.0
Dourado    55.0
Marrom     35.0
Name: Peso (kg), dtype: float64

In [58]:
#usando pivot_table
df_cachorros.pivot_table(values='Peso (kg)', index='Cor')

         Peso (kg)
Cor
Amarelo       60.0
Branco        35.0
Dourado       55.0
Marrom        35.0

In [61]:
#Usando aggfunc para ter uma estatística mais organizada
df_cachorros.pivot_table(values='Peso (kg)', index='Cor', aggfunc=np.median)

C:\Users\lpgn\AppData\Local\Temp\ipykernel_11156\3003611500.py:2: FutureWarning: The provided callable <function median at 0x000001DABDF13A60> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_cachorros.pivot_table(values='Peso (kg)', index='Cor', aggfunc=np.median)

         Peso (kg)
Cor
Amarelo       60.0
Branco        35.0
Dourado       55.0
Marrom        35.0

In [62]:
#Usando aggfunc para múltiplas estatísticas
df_cachorros.pivot_table(values='Peso (kg)', index='Cor', aggfunc=[np.mean, np.median])

C:\Users\lpgn\AppData\Local\Temp\ipykernel_11156\3035076951.py:2: FutureWarning: The provided callable <function mean at 0x000001DABDDE8540> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_cachorros.pivot_table(values='Peso (kg)', index='Cor', aggfunc=[np.mean, np.median])
C:\Users\lpgn\AppData\Local\Temp\ipykernel_11156\3035076951.py:2: FutureWarning: The provided callable <function median at 0x000001DABDF13A60> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_cachorros.pivot_table(values='Peso (kg)', index='Cor', aggfunc=[np.mean, np.median])

             mean    median
        Peso (kg) Peso (kg)
Cor
Amarelo      60.0      60.0
Branco       35.0      35.0
Dourado      55.0      55.0
Marrom       35.0      35.0

In [63]:
#Agrupando várias variáveis
df_cachorros.groupby(['Cor', 'Raça'])['Peso (kg)'].mean()

Cor      Raça
Amarelo  Labrador            60.0
Branco   Poodle              35.0
Dourado  Golder Retriever    55.0
Marrom   Boxer               35.0
Name: Peso (kg), dtype: float64

In [64]:
df_cachorros.pivot_table(values='Peso (kg)', index='Cor', columns='Raça')

Raça     Boxer  Golder Retriever  Labrador  Poodle
Cor
Amarelo    NaN               NaN      60.0     NaN
Branco     NaN               NaN       NaN    35.0
Dourado    NaN              55.0       NaN     NaN
Marrom    35.0               NaN       NaN     NaN

In [65]:
#Susbtituir valores NaN -> fill_value
df_cachorros.pivot_table(values='Peso (kg)', index='Cor', columns='Raça', fill_value=0)

Raça     Boxer  Golder Retriever  Labrador  Poodle
Cor
Amarelo    0.0               0.0      60.0     0.0
Branco     0.0               0.0       0.0    35.0
Dourado    0.0              55.0       0.0     0.0
Marrom    35.0               0.0       0.0     0.0

In [66]:
#margins é uma possiblidade para criar uma média final dos valores. Dados faltantes são ignorados.
df_cachorros.pivot_table(values='Peso (kg)', index='Cor', columns='Raça', fill_value = 0, margins=True)

Raça     Boxer  Golder Retriever  Labrador  Poodle    All
Cor
Amarelo    0.0               0.0      60.0     0.0  60.00
Branco     0.0               0.0       0.0    35.0  35.00
Dourado    0.0              55.0       0.0     0.0  55.00
Marrom    35.0               0.0       0.0     0.0  35.00
All       35.0              55.0      60.0    35.0  46.25